<!-- 利用状況main画面 -->
<!--%provide(:gest_use_title, "利用状況確認")--%>
<!DOCTYPE HTML>
<html lang="ja">
<!--タイトル-->
  <head>
    <meta charset="utf-8">
    <title><%= yield(:gest_use_title)%></title>
  </head>
<!--本文  -->
<body>
<div class="use_main">
<div>
<h1><%= yield(:gest_use_title)%></h1>
</div> 

<div id="wrapper">
   <header>
     <div class="user">ユーザID:<%= current_user.user_id %>
      <input type="button" onclick="location.href='/'" value="ログアウト" >
      <!--<%= button_to "ログアウト", sessions_path  %>-->
     </div>
     <div class="notice"><div class="mail"><%= image_tag 'mail_whi.gif' %></div></div>
     <p class="title">ランドリー状況確認システム</p>
   </header>
     <div class="pagetitle">
       <h1 class="textcenter"> 利用状況確認 </h1>
     </div>

  <a href='/gest_use_wash'>
   <div class="use_wash">
    <p>
     <h2><%= link_to "洗濯機", '/gest_use_wash' %></h2>
    </p>
   </div>
  </a>
<br>

  <a href='/gest_use_dry'>
   <div class="use_dry">
     <p>
      <h2><%= link_to "乾燥機", '/gest_use_dry' %></h2>
     </p>
   </div>
  </a>

</div>

</body>
</html>
