<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ランドリー状況確認システム（仮）</title>
    <link rel="stylesheet" href="index.css">
  </head>
  
  <body>
    <div id="wrapper">
      <header>
	<div class="user">ユーザID:<%= current_user.user_id %>
	<input type="button" onclick="location.href='/'" value="ログアウト" >
	<!--<%= button_to "ログアウト", sessions_path  %>-->
	</div>
	<div class="notice"><div class="mail"><%= image_tag 'mail_whi.gif' %></div></div>
	<p class="title">ランドリー状況確認システム</p>
      </header>
      <div class="pagetitle">
	<h1 class="textcenter"> メインメニュー </h1>
      </div>
<!--
      <div class="situation">
	<h2 class="textcenter">利用状況確認</h2>
      </div>
-->

	<!-- 一応ボタン
	<%= button_tag type: 'button', onclick: "link_to('https://www.google.co.jp')" do %> 		
		<div class="button">
		<%= '利用状況確認' %>
		</div>
	<% end %>
-->
	<div class="center">
	<a href="https://www.google.co.jp">
	<div class="situation">
	<h2>利用状況確認</h2>
	</div>
	</a>
	
	<a href="https://www.google.co.jp">
      <div class="info">
	<h2>紛失物情報</h2>
      </div>
	</a>
	</div>
    </div> <!-- wrapper -->
  </body>
</html>
