<!--
<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
-->

<% provide(:title, "Log in") %>
<h3>ランドリー利用状況確認システム</h3>
<% if flash.now[:danger] %>
<p class= error><%= flash.now[:danger] %></p>
<% end %>
<div class="col-md-6 col-md-offset-3">
  <%= form_for(:session, url: sessions_path) do |f| %>
  <p>
  <%= f.label :user_id %>
  <%= f.text_field :user_id , class: 'form-control' , :placeholder => "部屋番号を入力 ex)A011"%></p>
  <p>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control', :placeholder => "半角数字4桁" %></p>
  <p>
  <%= f.submit "ログイン", class: "btn btn-primary" %></p>
  <% end %>
